* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f2f5;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    margin-top: 18px;
    padding-bottom: 40px;
}

.logo>img {
    height: 100px;
    width: 300px;
}

.reg-box {
    /* height: 800px; */
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    background-color: white;
    padding: 15px;
}

.header h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}

.header p {
    text-align: center;
    color: rgb(100, 98, 98);
    margin-bottom: 10px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #dadde1;
}

.name-fields {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.name-fields input {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding-left: 8px;
    border: 1px solid #dddfe2;
    font-size: 16px;
}

.dob p {
    color: gray;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 8px;
}

.dateOfBirthBox {
    height: 40px;
    width: 100%;
    display: flex;
    gap: 15px;
}

.dateOfBirthBox select {
    border: 1px solid #dddfe2;
    height: 100%;
    width: 31%;
    font-size: 16px;
    border-radius: 6px;
    padding-left: 3px;
}

.dateOfBirthBox select:hover {
    /* outline: none; */
    border: 1px solid #0866ff;
}

.gender p {
    color: gray;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 8px;
}

.genderBox {
    height: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.genderBox input {
    height: 100%;
    border-radius: 6px;
}

.male,
.female,
.other {
    gap: 10px;
    border: 1px solid #dddfe2;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.emailPass {
    /* margin-top: 15px; */
    height: 80px;
}

.emailPass input {
    border: 1px solid #dddfe2;
    margin-top: 10px;
    padding: 8px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.terms {
    margin-top: 30px;
}

.terms p {
    color: gray;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.terms a {
    text-decoration: none;
    color: #3858B3;
}

.signUp-btn {
    width: 100%;
    height: 40px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.signUp-btn button {
    background-color: #119F16;
    width: 50%;
    height: 100%;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.signUp-btn button:hover {
    color: whitesmoke;
}

.alreadyAcc a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #1877F3;
    margin-top: 20px;
}



/* Functionality CSS Starts here. For errors etc */

.input-wrapper {
    position: relative;
    height: 40px;
    width: 50%;
}

.input-wrapper input.input-error {
    border: 1px solid red;
}

.name-fields i {
    color: #BE5854;
    position: absolute;
    top: 35%;
    right: 10px;
    display: none;
}


.first-name-error {
    position: absolute;
    top: 5px;
    left: -130px;
    background-color: #BE5854;
    color: white;
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 4px;
    display: none;
}

.surname-error {
    position: absolute;
    top: 45px;
    right: 73px;
    background-color: #BE5854;
    color: white;
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 4px;
    display: none;
}

.dob-error {
    position: absolute;
    top: 305px;
    left: 145px;
    background-color: #BE5854;
    color: white;
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 4px;
    display: none;
}

.dateOfBirthBox i {
    color: #BE5854;
    position: absolute;
    top: 44%;
    right: 472px;
    display: none;
}

.gender-error {
    position: absolute;
    top: 376px;
    left: 305px;
    background-color: #BE5854;
    color: white;
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 4px;
    display: none;
}

.genderBox i {
    color: #BE5854;
    position: absolute;
    top: 55%;
    right: 472px;
    display: none;
}

.email-error {
    position: absolute;
    top: 428px;
    left: 212px;
    background-color: #BE5854;
    color: white;
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 4px;
    display: none;
}

.email i{
    color: #BE5854;
    position: absolute;
    top: 68%;
    right: 472px;
    display: none;
}

.pass-error {
    position: absolute;
    top: 476px;
    left: 254px;
    background-color: #BE5854;
    color: white;
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 4px;
    display: none;
}

.password i{
    color: #BE5854;
    position: absolute;
    top: 76%;
    right: 472px;
    display: none;
}