* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2F4F7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    height: 56px;
    top: 0;
    width: 100%;
    z-index: 99;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left img {
    height: 40px;
}

.header-left input {
    height: 40px;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background-color: #F0F2F5;
    font-size: 15px;
    outline: none;
}

.header-mid {
    display: flex;
    align-items: center;
    height: 62px;
}

.header-mid i {
    font-size: 24px;
    color: #65676B;
    cursor: pointer;
    padding: 10px 40px;
    height: 100%;
}

.header-mid i:hover {
    background-color: #F0F2F5;
    border-radius: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right i {
    font-size: 20px;
    background-color: #F0F2F5;
    border-radius: 200px;
    padding: 10px;
    cursor: pointer;
}

.header-right img {
    height: 40px;
    border-radius: 200px;
    cursor: pointer;
}

.Profile-Pic i {
    font-size: 12px;
    padding: 1px;
    border: 1px solid white;
    position: relative;
    right: 18px;
}

/* Dashboard Main Div */
.main {
    display: flex;
    gap: 20px;
    padding: 15px;
    margin-top: 50px;
}

/* Dashboard Left Side */
.Dashboard-Left {
    display: flex;
    flex-direction: column;
    width: 276px;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 56px;
    overflow-y: auto;
    height: calc(100vh - 56px);
}

.left-item,
.left-item-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 46px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.left-item:hover,
.left-item-profile:hover {
    background-color: #E4E6EB;
}

.left-item-profile img {
    height: 30px;
    border-radius: 50%;
}

.left-item img {
    height: 30px;
}

.fa-angle-down,
.fa-angle-up {
    padding: 5px;
    text-align: center;
    background-color: #D6D9DD;
    border-radius: 50%;
}

#seeMoreElement,
.see-less {
    display: none;
}

#seeMoreElement.show {
    display: flex;
}

/* Scrollbar edits */
.Dashboard-Left::-webkit-scrollbar {
    width: 8px;
}

.Dashboard-Left::-webkit-scrollbar-track {
    background: transparent;
}

.Dashboard-Left::-webkit-scrollbar-thumb {
    background-color: #bcc0c4;
    border-radius: 10px;
}

.Dashboard-Left::-webkit-scrollbar-thumb:hover {
    background-color: #8a8d91;
}

/* Dashboard Center */
.Dashboard-Mid {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 710px;
    max-width: 100%;
    padding: 10px 92px;
    gap: 10px;
    /* position: sticky;
    top: 56px;
    overflow-y: auto;
    height: calc(100vh - 56px); */
}

.create-post {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 12px 16px 10px;
    border-radius: 8px;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.create-post-btn {
    height: 40px;
    flex: 1;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f0f2f5;
    text-align: left;
    color: #606366;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}

.create-post img {
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.Nav-Icons {
    display: flex;
    gap: 5px;
}

.Nav-Icons img {
    height: 24px;
    cursor: pointer;
}

/* Story Container */
.story-container {
    position: relative;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 5px;
}

.create-story,
.story {
    position: relative;
    width: 120px;
    height: 200px;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    flex-shrink: 0;
}

.story {
    background-color: #e4e6eb;
}

.create-story img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    display: block;
}

.story-btn {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #0866ff;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.create-story p {
    margin-top: 30px;
    font-size: 13px;
    font-weight: 550;
    text-align: center;
}

.story-post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.profile-pic img {
    position: absolute;
    top: 10px;
    left: 10%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 4px solid #0866ff;
    object-fit: cover;
}

.profile-name p {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    font-size: 13px;
    font-weight: 550;
    color: white;
}

/* Story Cont Scroll Bar edit */
.story-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.story-container::-webkit-scrollbar-track {
    background: transparent;
}

.story-container::-webkit-scrollbar-thumb {
    background-color: #bcc0c4;
    border-radius: 10px;
}

.story-container::-webkit-scrollbar-thumb:hover {
    background-color: #8a8d91;
}

/* Dashboard Right Side */
.Dashboard-Right {
    width: 280px;
    position: sticky;
    top: 70px;
    padding: 20px 0px 4px;
    position: sticky;
    top: 56px;
    overflow-y: auto;
    height: calc(100vh - 56px);
}

.contacts h2,
.groups h2 {
    font-size: 17px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #919498;
    padding-bottom: 10px;
    border-bottom: 1px solid #919498;
}

.contacts i {
    height: 20px;
    padding: 0px 5px;
}

.contacts i:hover {
    cursor: pointer;
}

.groups {
    padding: 20px 0px 4px;
}

.groups h2 {
    color: #919498;
}

.groups i {
    padding: 5px;
    border-radius: 50%;
    background-color: #D6D9DD;
}

.groups div {
    padding: 15px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.group-items:hover {
    cursor: pointer;
    background-color: #E4E6EB;
    border-radius: 8px;
}