* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2F4F7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left img {
    height: 40px;
}

.header-left input {
    height: 40px;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background-color: #F0F2F5;
    font-size: 15px;
    outline: none;
}

.header-mid {
    display: flex;
    align-items: center;
}

.header-mid i {
    font-size: 24px;
    color: #65676B;
    cursor: pointer;
    padding: 10px 40px;
    height: 100%;
}

.header-mid i:hover {
    background-color: #F0F2F5;
    border-radius: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right i {
    font-size: 20px;
    background-color: #F0F2F5;
    border-radius: 200px;
    padding: 10px;
    cursor: pointer;
}

.header-right img {
    height: 40px;
    border-radius: 200px;
    cursor: pointer;
}

.Profile-Pic i {
    font-size: 12px;
    padding: 1px;
    border: 1px solid white;
    position: relative;
    right: 18px;
}

/* Dashboard Main Div */
.main {
    display: flex;
    gap: 20px;
    padding: 15px;
}

/* Dashboard Left Side */
.Dashboard-Left {
    display: flex;
    flex-direction: column;
    width: 276px;
    gap: 8px;
    padding-top: 10px;
}

.left-item,
.left-item-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.left-item:hover,
.left-item-profile:hover {
    background-color: #E4E6EB;
}

.left-item-profile img {
    height: 30px;
    border-radius: 50%;
}

.left-item img {
    height: 30px;
}

/* Dashboard Center */
.Dashboard-Mid {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 710px;
    max-width: 100%;
    padding: 10px 92px;
    gap: 10px;
}

.create-post {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 12px 16px 10px;
    border-radius: 8px;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.create-post-btn {
    height: 40px;
    flex: 1;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f0f2f5;
    text-align: left;
    color: #606366;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}

.create-post img {
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.Nav-Icons {
    display: flex;
    gap: 5px;
}

.Nav-Icons img {
    height: 24px;
    cursor: pointer;
}

/* Story Container */
.story-container {
    display: flex;
    gap: 10px;
}

/* Dashboard Right Side */
.Dashboard-Right {
    width: 280px;
    position: sticky;
    top: 70px;
    padding: 20px 0px 4px;
}


.contacts h2,
.groups h2 {
    font-size: 17px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #919498;
    padding-bottom: 10px;
    border-bottom: 1px solid #919498;
}

.contacts i {
    height: 20px;
    padding: 0px 5px;
}

.contacts i:hover {
    cursor: pointer;
}

.groups {
    padding: 20px 0px 4px;
}

.groups h2 {
    color: #919498;
}

.groups i {
    padding: 5px;
    border-radius: 50%;
    background-color: #D6D9DD;
}

.groups div {
    padding: 15px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.group-items:hover {
    cursor: pointer;
    background-color: #E4E6EB;
    border-radius: 8px;
}