* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2F4F7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    background-color: white;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left img {
    height: 40px;
}

.header-left input {
    height: 40px;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background-color: #F0F2F5;
    font-size: 15px;
    outline: none;
}

.header-mid {
    display: flex;
    align-items: center;
}

.header-mid i {
    font-size: 24px;
    color: #65676B;
    cursor: pointer;
    padding: 10px 40px;
    height: 100%;
}

.header-mid i:hover {
    background-color: #F0F2F5;
    border-radius: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right i {
    font-size: 20px;
    background-color: #F0F2F5;
    border-radius: 200px;
    padding: 10px;
}