* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2F4F7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left img {
    height: 40px;
}

.header-left input {
    height: 40px;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background-color: #F0F2F5;
    font-size: 15px;
    outline: none;
}

.header-mid {
    display: flex;
    align-items: center;
}

.header-mid i {
    font-size: 24px;
    color: #65676B;
    cursor: pointer;
    padding: 10px 40px;
    height: 100%;
}

.header-mid i:hover {
    background-color: #F0F2F5;
    border-radius: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right i {
    font-size: 20px;
    background-color: #F0F2F5;
    border-radius: 200px;
    padding: 10px;
    cursor: pointer;
}

.header-right img {
    height: 40px;
    border-radius: 200px;
    cursor: pointer;
}

.Profile-Pic i {
    font-size: 12px;
    padding: 1px;
    border: 1px solid white;
    position: relative;
    right: 18px;
}

.main {
    display: flex;
    gap: 20px;
    padding: 15px;
}

.Dashboard-Left {
    display: flex;
    align-items: center;
    width: 276px;
    gap: 15px;
}

.Dashboard-Left div {
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.Dashboard-Left img {
    height: 40px;
    border-radius: 200px;
}

.Dashboard-Mid {
    flex: 1;
    max-width: 680px;
}

.Dash-nav {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
}

.Dash-nav div {
    display: flex;
    align-items: center;
}

.Dash-nav input {
    flex: 1;
    border: none;
    background-color: #f0f2f5;
    padding: 10px 15px;
    border-radius: 20px;
    outline: none;
}

.Dash-nav img {
    height: 40px;
}